[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = "*"
accelerate = "*"
datasets = {extras = ["audio"], version = "*"}
torchaudio = "*"
"pyannote.audio" = "*"
speechbox = {git = "https://github.com/huggingface/speechbox"}

[dev-packages]

[requires]
python_version = "3.11"
